@import "tailwindcss";

:root {
  --font-family-sans: var(--font-manrope), "Manrope Placeholder", system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ds-gray-100: #1a1a1a;
  --color-ds-gray-200: #1f1f1f;
  --color-ds-gray-300: #262626;
  --color-ds-gray-400: #282828;
  --color-ds-gray-500: #141414;
  --color-ds-gray-600: #2b2b2b;
  --color-ds-gray-700: #696969;
  --color-ds-gray-800: #2b2b2b;
  --color-ds-gray-900: #303030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.15s ease-in-out;
}